<div class="container-fluid" ng-app="deltaForum">
  <div class="">
    <div class="post-holder ml-10">
      <a class="page-name" href="/">
        <h2>Delta Forum</h2>
      </a>
    </div>

    <div class="post-holder pull-right mr-10">
      <%= button_to destroy_user_session_path, class: 'btn btn-danger align-top', method: :delete do %>Logout<% end %>
    </div>
  </div>

  <div ng-view></div>
</div>
