<div class="">
  <owner allowed="/assets/angular-app/templates/posts/allowed_post_edition.html.hbs"
         denied="/assets/angular-app/templates/posts/not_allowed_post_edition.html.hbs"
         user="{{currentUser.id}}"
         post="{{post.user_id}}">
         </owner>
</div>
