<div class="options-bar">
  <div class="pull-right">
  </div>
</div>

<div class="">
  <span class="head-title">Nuevo Post</span>

  <div class="">
    <label for="">Título</label>
    <input type="text" name="" value="" ng-model="post.title"></input>
  </div>

  <div class="">
    <label for="">Contenido</label>
    <textarea ng-model="post.content"></textarea>
  </div>

  <button class="btn btn-primary" type="button" name="button" ng-click="sendData()">CREAR POST</button>
  <a href="/">
    <button class="btn btn-danger" type="button" name="button">CANCELAR</button>
  </a>
</div>
