<div class="options-bar">
  <div class="pull-right">
    <a href="/">
      <button class="btn btn-primary align-btn" type="button" name="button">Posts</button>
    </a>
    <button class="btn btn-primary align-btn" type="button" name="button">Perfil</button>
  </div>
</div>

<h2>Este contenido no puede ser editado</h2>

<p>Puede que este contenido haya sido eliminado o no tengas permisos para editarlo.</p>
