/* Index styles */
.options-bar {
  background-color: #EBEBEB;
  height: 45px;
  margin-bottom: 10px;
}

.options-bar a:hover{
  text-decoration: none;
}

.align-btn {
  margin-top: 5px;
  margin-right: 10px;
}

.post-holder {
  display: inline-block;
}

.post-block {
  height: 60px;
  margin-top: 5px;
}

.page-name {
  color: black;
}

.page-name:hover {
  text-decoration: none;
}

.post-block a {
  display: block;
  margin-bottom: 3px;
  color: black;
}

.post-block a:hover {
  text-decoration: none;
}

.post-title {
  font-size: 20px;
}

.head-title {
  font-size: 25px;
}

.content-area {
  width: 100%;
}

.user-image {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

.user-image-comment {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.comments-header {
  background-color: #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 1px;
  margin-left: 1px;
}

.comments-content {
  min-height: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 1px;
  margin-left: 1px;
  border-bottom: 1px solid #c7c6c6;
  margin-bottom: 10px;
}

.down-area {
  margin-bottom: 30px;
}

.align-top {
  -webkit-transform: translateY(55%);
}

.comments-container {
  min-height: 60px;
  background-color: yellow;
}

/* Margins */

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left:10px;
}

.mlr-10 {
  margin-left: 10px;
  margin-right: 10px;
}
